h1{
    text-align: center;
    color: white;
    font-family: fantasy;
    background-color: royalblue;
}

.centered {
    text-align: center;
}

p{
    color: white;
    font-size: 15px;
    }

    title{
    color: white;
    }

    .header{
    background-color: royalblue;
    }
    body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: 898888;
}